
html,body {
	height: 100%;
}

.gh-map,.gh-map-container {
	width: 100%;
	height: 100%;
}

.gh-window {
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	cursor: default;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	z-index: 1;
}

.gh-directions-window {
	left: 30px;	
	top: 30px;
	width: 300px;
}

.gh-instructions-window {
	left: 350px;
	top: 30px;
	width: 500px;
}

.gh-window-header {
	padding: 0 10px;
}

.gh-window-inner {
	margin: 0 10px;
}

.gh-directions {
	border-top: 1px solid #e5e5e5;
	padding: 10px;
	padding-bottom: 0;
}

.gh-controls {
	padding: 10px;
	padding-top: 0;
}

.gh-summary {
	padding: 10px;
	padding-top: 0;
	opacity: 0;
	transition: all 0.5s ease;
}
.gh-summary span {
	padding-right: 10px;
	font-size: 12px;
	color: #909090;
}

.gh-instructions-list {
	font-size: 12px;
	max-height: 500px;
	overflow-y: auto;
	padding: 20px;
}
.gh-instruction {
	padding: 5px;
	border-bottom: 1px solid #dedede;
}
.gh-instruction-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}